.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 6px rgba(102, 100, 100, 0.25);
    padding: 8px 16px;
    // min-height: 65px;
    height: fit-content;
    margin-top: 20px;
    position: relative;
    z-index: 1;
    // margin-bottom: 24px;
}

.containerForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.input {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border: none;
    outline: none;
    width: 100%;
    margin-right: 16px;
}

.actions {
    display: flex;
    align-items: center;
}

.fileLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.clipIcon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: #2196f3;
}

.fileInput {
    display: none;
}

.sendButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.sendIcon {
    width: 24px;
    height: 24px;
    fill: #2196f3;
}

.previewContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.previewImage {
    height: 150px;
    width: 150%;
    object-fit: cover;
}

.emojiWrap {
    position: relative;
    & {
        position: absolute;
        right: -40px;
        bottom: calc(100% + 20px);
        max-height: 60vh;
        overflow-y: scroll;
    }
}

.emojiButton {
    position: relative;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    width: 25px;
}
