.container {
    // background-color: #000000b7;
    height: 100vh;
}
.home {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 20px;
}

.footerBox {
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
