.container {
    // background-color: #000000b7;
    height: 100vh;
}
.home {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 20px;
}

.footerBox {
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.job-case {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    height: 260px;
    position: relative;
    * {
        transition: 0.3s ease-in-out color;
    }
    &:hover {
        * {
            color: #0288d1;
            z-index: 5;
            position: relative;
        }
    }
}

.job-case:hover::before {
    opacity: 1;
}

.job-case:hover > .job-case::after {
    opacity: 1;
}

.job-case::before,
.job-case::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.job-case::before {
    background: radial-gradient(
        1800px circle at var(--mouse-x) var(--mouse-y),
        rgba(0, 0, 0, 1),
        transparent 50%
    );
    z-index: 3;
}

.job-case::after {
    background: radial-gradient(
        1000px circle at var(--mouse-x) var(--mouse-y),
        rgba(0, 0, 0, 1),
        transparent 50%
    );
    z-index: 1;
}
