.footer-box {
    width: 100%;
    height: auto;
    background-color: white;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    z-index: 10000;
    bottom: 0;
}
