/* You can add global styles to this file, and also import other style files */
body,
button {
    margin: 0;
    padding: 0;
}
html,
body,
#root {
    margin: 0;
    background: #000000;
    font-family: sans-serif;
    font-size: 14px;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000000;
    }
}

html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

body {
    overflow: hidden;
    width: 100%;
}

@media (max-width: 700px) {
    .parallax-1,
    .parallax-2 {
        display: none;
    }
}
// body {
// position: fixed;
// overscroll-behavior-y: none;
// cursor: url("https://github.com/chenglou/react-motion/raw/master/demos/demo8-draggable-list/cursor.png")
//         39 39,
//     auto;
// }
